.topcontainer{
    background-color: aquamarine;
    padding-top: 50px;
}
h1{
    margin-top: 0px;
    font-family: "Dancing Script",serif;
}

body{
    margin: 0px;
    text-align: center;
}
p
{
    font-family: 'Montserrat', sans-serif;
}
.middlecontainer{

}
.bottomcontainer{
}
.mountain{
    height: 300px;
}
.topcloud{
    position: absolute;
    right: 300px;
    top: 30px;
}
.bottomcloud{
    position: absolute;
    left: 280px;
    bottom: 400px;
}
img{
    height: 60px;
}